.App {
  font-family: sans-serif;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin: 2%;
  font-weight: bold;
}
.tooltiptext {
  display: none;
}
.tooltip:hover .tooltiptext {
  margin: 2px;
  z-index: 1;
  display: block;
  background-color: black;
  color: white;
  padding: 3px;
  position: relative;
}
